<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Igor Sobreira" />
   <meta name="description" content="Thought on software development, mostly Python and Web related" />
   <link href="http://feeds.feedburner.com/igorsobreira" rel="alternate" title="Igor Sobreira" type="application/atom+xml" />

   <link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" />
   <link rel="stylesheet" href="/assets/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Igor Sobreira</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact" id="about">
      <p>
        Igor Sobreira<br />
        Developer at <a href="http://www.realgeeks.com/">Real Geeks</a><br />
        igor@igorsobreira.com
      </p>
    </div>
    <div class="contact" id="contact-me">
      <p>
        <a href="http://github.com/igorsobreira/">github.com/igorsobreira</a><br />
				<a href="http://linkedin.com/in/igorsobreira">linkedin.com/in/igorsobreira</a><br />
      </p>
    </div>
		<div class="contact">
			<p>
			  <a href="/about.html">About</a><br />
				<a href="/talks.html">Talks</a><br />
			</p>
		</div>
    <div class="rss">
      <a href="/atom.xml">
        <img src="/assets/img/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2201771-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
